<div class="body d-flex justify-content-center align-items-center">
    <div class="displayTable">
        <div class="displayTableCell">
            <div class="authBlock">
                <h3 class="text-center">Gracias por registrarse</h3>
                <!-- <div class="formGroup" *ngIf="authService.userData as user">
                <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
                <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
                </div> -->
                <div class="formGroup">
                <!-- <p class="text-center">We have sent a confirmation email to <strong>Fer</strong>.</p> -->
                <p class="text-center">Hemos enviado un mail de confirmacion al mail otorgado.</p>
                <p class="text-center">Por favor verifique su correo en la casilla de spam.</p>
                </div>
                
                <!-- Calling SendVerificationMail() method using authService Api -->
                <!-- <div class="formGroup">
                <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
                    <i class="fas fa-redo-alt"></i>
                <button type="button" class="btn btnPrimary" >
                    <i class="fas fa-redo-alt"></i>
                    Resend Verification Email
                </button>
                </div> -->
            </div>
        <!-- <div class="redirectToLogin">
            <span>Go back to?<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
        </div> -->
        </div>
    </div>
</div>