<!-- <p>usuarios works!</p> -->
<!-- <div class="d-flex justify-content-evenly">
    <app-registro-especialista></app-registro-especialista>
    <app-registro-paciente></app-registro-paciente>
    <app-registro-admin></app-registro-admin>
</div> -->
<div class="mb-5 mt-5 d-flex justify-content-center">
    <button mat-raised-button color="primary" routerLink="/auth/registro">Registrar nuevos usuarios</button>
</div>

<h1 class="text-center">Lista de usuarios</h1>
<div class="d-flex flex-column align-items-center gap-5 mt-5">
    <h2>Especialistas</h2>
    <app-especialistas></app-especialistas>
    <h2>Pacientes</h2>
    <app-pacientes></app-pacientes>

</div>