<!-- <p>bienvenido works!</p> -->


<!-- <div class="body d-flex justify-content-center align-items-center h-100"> -->
    <!-- <button>Boton</button>
    <a routerLink="/auth/login">Login</a>
    <a routerLink="/auth/registro">Registro</a> -->

<div class="body">

    
    <!-- <mat-spinner *ngIf="spinner"></mat-spinner> -->
        <!-- <img src="./assets/img/ambulance.gif" width="100px"> -->

    <!-- <div *ngIf="!spinner" class="wrapper" >
        <div class="row">
            <h1 class="text-center">Bienvenido a la Clinica</h1>
        </div>
        <div class="d-flex justify-content-center align-items-center gap-5">
            <mat-card class="example-card" routerLink="/auth/login">
                <mat-card-header class="justify-content-center">
                  <mat-card-title>Login</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./assets/img/user.png" alt="User" height="300px" width="300px">
                
              </mat-card>
            <mat-card class="example-card" routerLink="/auth/registro">
                <mat-card-header class="justify-content-center">
                  
                  <mat-card-title class="text-center">Registro</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./assets/img/add-user.png" height="300px" width="300px" alt="Add user">
              </mat-card>
        </div>
    </div> -->

    <!-- <section class="banner-area d-flex align-items-center"> -->
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-6 col-xl-5">
            <h1 class="titulo">Making Health Care Better Together
            </h1>
            <p class="texto">
              Also you dry creeping beast multiply fourth abundantly our itsel signs bring our. Won form living. Whose dry you seasons divide given gathering great in whose you'll greater let livein form beast sinthete
              better together these place absolute right.
            </p>
            <a href="#" class="main_btn">Make an Appointment</a>
            <a href="#" class="main_btn_ligth">View department</a>
          </div>
        </div>
      </div>
    <!-- </section> -->
   
    

    


</div>

<!-- </div> -->

