<div class="body">
    <div class="registro">
        <img src="./assets/img/usuario.png" alt="Imagen usuario" width="50%">
        <h1>Registrarse</h1>
        <mat-form-field appearance="fill" class="ancho">
            <mat-label>Nombre</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ancho">
            <mat-label>Apellido</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ancho">
            <mat-label>Edad</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ancho">
            <mat-label>DNI</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ancho">
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ancho">
            <mat-label>Ingrese su contraseña</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" style="border:none;">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <mat-form-field appearance="fill" class="ancho">
            <mat-label>Email</mat-label>
            <input matInput>
        </mat-form-field>
        <button mat-raised-button color="primary" class="ancho">Primary</button>
    </div>
</div>
